<footer class="relative bg-gray-300 pt-8 pb-6">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap">
      <div class="w-full lg:w-5/12 px-4">
        <h4 class="text-2xl font-semibold">Find Us at the Former Greyhound Bus Depot</h4>
        <h5 class="text-lg mt-0 mb-2 text-gray-700">
          <a href="{{ site.google_maps_url }}" target="_blank">
            102 Avenue &amp; 102 Street Buildings
          </a>
          -
          <a href="https://cityarchives.edmonton.ca/greyhound-bus-depot" target="_blank">
            Former Greyhound Bus Depot
          </a>
          <br />
          <a href="{{ site.map_url }}" target="_blank">
            Edmonton, Alberta
          </a>
        </h5>
        <div class="text-gray-600 text-sm py-1 mt-4">
          Copyright &copy; {{ site.time | date: '%Y' }}
          <a href="/" class="text-gray-600 hover:text-gray-900 font-semibold"
            >Edmonton Indoor Storage</a
          >
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6 mt-4">
          <div class="w-full lg:w-4/12 md:w-6/12 px-0 ml-auto">
          </div>
          <div class="w-full lg:w-4/12 md:w-6/12 mt-4 sm:mt-0 md:px-4">
            <span
              class="block uppercase text-gray-600 text-sm font-semibold mb-2"
              >Links</span
            >
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="/contact"
                  >
                  <i class="fas fa-phone"></i>
                  Contact Us</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="/"
                  >
                  <i class="fas fa-home"></i>
                  Home</a
                >
              </li>
              <li>
                <a
                  class="text-gray-700 hover:text-gray-900 font-semibold block pb-2 text-sm"
                  href="/contact"
                  >
                  <i class="fas fa-plus-circle"></i>
                  Newsletter </a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-400" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full px-4 mx-auto text-center">
        <!--
          An Experiment Assembled with Care by _Dalyle Digitial Labs_ :heart:
        -->
        <div class="text-sm text-gray-600">
          <span class="font-semibold">Assembled with Care</span>
          by
          <a
            class="hover:text-indigo-600 whitespace-no-wrap font-semibold"
            href="http://www.dalyle.ca/?utm_campaign=site_footer&utm_content={{ site.url }}"
            target="_blank"
          >

            Dalyle Digial
          </a>
          <i class="fas fa-heart"></i>
          <!--
          Website Development, Hosting, and Maintenance by <a
            class="hover:text-indigo-600 font-semibold"
            href="http://www.dalyle.ca/?utm_campaign=site_footer&utm_content={{ site.url }}"
            target="_blank"
            rel="noreferrer"
            >Dalyle&nbsp;Digital</a
          >
          <i class="fas fa-heart"></i>
          -->
        </div>
      </div>
    </div>
  </div>
</footer>

{{# {%- if site.soopr -%} {%- if site.soopr.publish_token and jekyll.environment ==
"production" -%}
<script
  async=""
  data-soopr-token="{{site.soopr.publish_token}}"
  defer="defer"
  src="https://sdk.soopr.co/soopr.js"
></script>
{%- else -%}
<script async defer src="https://sdk.soopr.co/soopr.js"></script>
{%- endif -%} {%- endif -%} #}}
