<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource-variable/geist/index.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontsource-variable/jetbrains-mono/index.css">
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <script src="https://unpkg.com/phosphor-icons"></script>
  {%- feed_meta -%}
  {%- include custom-head.html -%}
  <script>
    (function () {
      var stored = localStorage.getItem("theme");
      var theme = stored || "dark";
      document.documentElement.setAttribute("data-theme", theme);
    })();
  </script>
</head>
