<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  <link
    rel="stylesheet"
    href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
  />
  <script src="https://unpkg.com/phosphor-icons"></script>
  {%- feed_meta -%}
  {%- include custom-head.html -%}

</head>
