---
layout: default
---
{%- include header.html -%}

<div class="relative py-32 bg-white overflow-hidden">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto mb-6">
      <h1
        class="mt-2 mb-8 text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
        {{ page.title | escape }}</h1>
    </div>
    <div class="prose prose-lg text-gray-500 mx-auto">
      {{ content }}
    </div>
  </div>
</div>


{%- include footer.html -%}
